.dark code[class*="language-"],
.dark pre[class*="language-"] {
  color: #ccccca;
  background: none;
  /* text-shadow: 0 1px rgba(0, 0, 0, 0.3); */
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: pre-wrap; /* Preserve line breaks */
  word-break: break-word; /* Wrap long words */
  max-width: 100%;
}

/* Code blocks */
.dark pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  border: 1px solid #1c1c1c;
}

.dark :not(pre) > code[class*="language-"],
.dark pre[class*="language-"] {
  background: #111111;
}

/* Inline code */
.dark :not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.dark .token.comment,
.dark .token.prolog,
.dark .token.doctype,
.dark .token.cdata {
  color: #6272a4;
}

.dark .token.punctuation {
  color: #ccccca;
}

.dark .namespace {
  opacity: 0.7;
}

.dark .token.property,
.dark .token.tag,
.dark .token.constant,
.dark .token.symbol,
.dark .token.deleted {
  color: #ff79c6;
}

.dark .token.boolean,
.dark .token.number {
  color: #bd93f9;
}

.dark .token.selector,
.dark .token.attr-name,
.dark .token.string,
.dark .token.char,
.dark .token.builtin,
.dark .token.inserted {
  color: #50fa7b;
}

.dark .token.operator,
.dark .token.entity,
.dark .token.url,
.dark .language-css .token.string,
.dark .style .token.string,
.dark .token.variable {
  color: #ccccca;
}

.dark .token.atrule,
.dark .token.attr-value,
.dark .token.function,
.dark .token.class-name {
  color: #f1fa8c;
}

.dark .token.keyword {
  color: #8be9fd;
}

.dark .token.regex,
.dark .token.important {
  color: #ffb86c;
}

.dark .token.important,
.dark .token.bold {
  font-weight: bold;
}

.dark .token.italic {
  font-style: italic;
}

.dark .token.entity {
  cursor: help;
}

.light code[class*="language-"],
.light pre[class*="language-"] {
  color: #393a34;
  background: none;
  /* text-shadow: 0 1px rgba(0, 0, 0, 0.3); */
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: pre-wrap; /* Preserve line breaks */
  word-break: break-word; /* Wrap long words */
  max-width: 100%;
}

.light pre > code[class*="language-"] {
  font-size: 1em;
}

.light pre[class*="language-"]::-moz-selection,
.light pre[class*="language-"] ::-moz-selection,
.light code[class*="language-"]::-moz-selection,
.light code[class*="language-"] ::-moz-selection {
  background: #b3d4fc;
}

.light pre[class*="language-"]::selection,
.light pre[class*="language-"] ::selection,
.light code[class*="language-"]::selection,
.light code[class*="language-"] ::selection {
  background: #b3d4fc;
}

/* Code blocks */
.light pre[class*="language-"] {
  background-color: white;
  border-radius: 12px;
  border: 1px solid #dddddd;
  margin: 0.5em 0;
  overflow: auto;
  padding: 1em;
}

/* Inline code */
.light :not(pre) > code[class*="language-"] {
  padding: 0.2em;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #f8f8f8;
  border: 1px solid #dddddd;
}

.light .token.comment,
.light .token.prolog,
.light .token.doctype,
.light .token.cdata {
  color: #999988;
  font-style: italic;
}

.light .token.namespace {
  opacity: 0.7;
}

.light .token.string,
.light .token.attr-value {
  color: #e3116c;
}

.light .token.punctuation,
.light .token.operator {
  color: #393a34; /* no highlight */
}

.light .token.entity,
.light .token.url,
.light .token.symbol,
.light .token.number,
.light .token.boolean,
.light .token.variable,
.light .token.constant,
.light .token.property,
.light .token.regex,
.light .token.inserted {
  color: #36acaa;
}

.light .token.atrule,
.light .token.keyword,
.light .token.attr-name,
.light .language-autohotkey .token.selector {
  color: #00a4db;
}

.light .token.function,
.light .token.deleted,
.language-autohotkey .token.tag {
  color: #9a050f;
}

.light .token.tag,
.light .token.selector,
.light.language-autohotkey .token.keyword {
  color: #00009f;
}

.light .token.important,
.light .token.function,
.light .token.bold {
  font-weight: bold;
}

.light .token.italic {
  font-style: italic;
}
