a {
  color: #0070f3 !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  width: 100%;
}

pre {
  font-size: 14px;
}

em {
  border-left: 7px solid dodgerblue;
  border-radius: 5px;
  display: block;
  line-height: inherit;
  padding: 5px;
}

.chakra-ui-light em {
  background-color: ghostwhite;
  color: black;
}

.chakra-ui-dark em {
  border-left: 7px solid dodgerblue;
  border-radius: 5px;
  display: inline-block;
  line-height: inherit;
  padding: 5px;
  background-color: #222;
  color: #fff;
}
